@model RezhCity.WEB.Models.ShortVacancyView

<li class="list-group-item" data-link-to-detail="@Model.Url">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <div>
                <span class="short-vacancy-position">@Model.Position</span>
            </div>
            @if (!String.IsNullOrEmpty(Model.Category))
            {
                <div>
                    <span>@Model.Category</span>
                </div>
            }
            <div>
                <span style="font-size:12px;">@Model.Created</span>
            </div>
            @if (!String.IsNullOrEmpty(Model.Salary))
            {
                <div style="margin-top:5px;">
                    <span class="short-vacancy-salary">@Model.Salary</span>
                </div>
            }
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="pull-right">
                <div>
                    <span class="short-vacancy-company pull-right">@Model.Company</span>
                </div>
                <div class="">
                    <a href="@Model.PhoneLink" class="pull-right" style="font-size: 14px;">@Model.Phone</a>
                </div>
            </div>

        </div>
    </div>
</li>
